<h1>Ideas</h1>
<h3>Probably not very good ones...</h3>

<div ng-hide="labels_ready && ideas_ready" >Loading...</div>

<ink-idea-list></ink-idea-list>

<ink-edit-window></ink-edit-window>

<button ng-show="dirty" ng-click="save_all()">Save It All!</button>

<!-- a comment -->