<h1>Ideas</h1>
<h3>Probably not very good ones...</h3>

<div ng-app="ink" ng-controller="ktrl">
  <div ng-repeat="idea in ideas">
    <div class="idea">
      <span>{{ idea.id }}</span>
      <span>{{ idea.plaintext }}</span>
    </div>
  </div>
</div>