<form>
    <div class="edit_box">
        <div class="mce_wrapper">
            <textarea id="idea-text-editor"></textarea>

            <ink-label-group labels="current_idea.labels"></ink-label-group>

            <div class="add_label_area">
                <label for="class_select">Label Class:</label>
                <select id="class_select" ng-model="new_label_class_id"
                        ng-options="c.id as c.name for c in label_class_list" />
                <br/>
                <div id="new-label-value-div" ng-bind-html="render_new_label(new_label_class_id)"></div>
                <br/>
                <button ng-click="submit_idea_label()">Label It!</button>
            </div>

        </div>
    </div>
</form>