<h1>Ideas</h1>
<h3>Probably not very good ones...</h3>

<div ng-hide="labels_ready && ideas_ready" >Loading...</div>

<div class="idea" ng-repeat="idea in ideas" ng-click="open_idea(idea.id)" >
    <ul>
        <li>
            <span style="display:none;">{{idea.id}}</span>
            {{ idea.plaintext }}
            <ink-label-group labels="idea.labels"></ink-label-group>
        </li>
    </ul>
</div>

<ink-edit-window></ink-edit-window>

<button ng-show="dirty" ng-click="save_all()">Save It All!</button>