<!DOCTYPE html>
<html>
<head>
  <title>Inkubator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="assets/tinymce/tinymce.min.js"></script>
  <script type="text/javascript">
      tinymce.init({
          mode: 'none'
      });
  </script>
</head>
<body class="container-fluid" ng-app="ink">
    <new-idea></new-idea>
    <main></main>
</body>
</html>
